<div class="col-md-6">
	<div class="pt-4 pt-sm-0">
		<!-- title -->
		<div class="text-left pb-20">
			<div class="title-underline">
				<h2 class="blue-text {{ frappe.db.get_value("Item", doc.item_code ,'tile_surface') }}">{{ frappe.db.get_value("Item", doc.item_code ,'item_design') or '' }} - {{ frappe.db.get_value("Item", doc.item_code ,'tile_surface') or '' }} - {{ frappe.db.get_value("Item", doc.item_code ,'tile_type') or '' }}</h2>
				<div class='line-circle-container '>
					<div class='loader pl-3 ' style="left:0; z-index:2">
						<div class='loader--dot'></div>
						<div class='loader--dot'></div>
						<div class='loader--dot'></div>
						<div class='loader--dot'></div>
						<div class='loader--dot'></div>
						<div class='loader--dot'></div>
						<div class='loader--dot'></div>
						<div class='loader--dot'></div>
						<div class='loader--dot'></div>
					</div>
				</div>
			</div>
		</div>

		<p class="text-muted sub-text pt-4">
			<span>{{ _("Item Code") }}:</span>
			<span itemprop="productID">{{ doc.name }}</span>
		</p>
		<!-- description -->
		<!-- <p class="sub-text pt-3">
			<div itemprop="description">
				{% if frappe.utils.strip_html(doc.web_long_description or '') %}
				{{ doc.web_long_description | safe }}
				{% elif frappe.utils.strip_html(doc.description or '')  %}
				{{ doc.description | safe }}
				{% else %}
				{{ _("No description given") }}
				{% endif  %}
			</div>
		</p>
		<a class="tile-button fill ml-0 mt-4 pt-4 " href="/en-au/news-more/news/ortec-sustainability-report-2017">
			<span class="tile-point-parent"><span class="tile-point"></span><span
				class="tile-point"></span><span class="tile-point"></span><span class="tile-point"></span><span
				class="tile-point"></span><span class="tile-point"></span><span class="tile-point"></span><span
				class="tile-point"></span><span class="tile-point"></span><span class="tile-point"></span><span
				class="tile-point"></span><span class="tile-point"></span><span class="tile-point"></span><span
				class="tile-point"></span><span class="tile-point"></span><span class="tile-point"></span><span
				class="tile-point"></span><span class="tile-point"></span><span class="tile-point"></span><span
				class="tile-point"></span></span>
			<h5 class="label" style="text-transform: capitalize;">View More</h5>
		</a> -->

		{% if has_variants %}
		<!-- configure template -->
		{% include "templates/generators/item/item_configure.html" %}
		{% else %}
		<!-- add variant to cart -->
		{% include "templates/generators/item/item_add_to_cart.html" %}
		{% endif %}
	</div>
	<div class="container  pl-0">
		<hr style="margin: 30px 0">
		<div class="row item-website-specification mt-1">
			<div class="col-md-12">
				<h3 class="blue-text">Specifications</h3>
				<table class=" table-bordered mt-3 item-table" width="100%">
					{% if frappe.db.get_value("Item", doc.item_code ,'item_series') -%}
					<tr>
						<td style="border: 1px solid #dee2e6 !important" style="width: 30%;">
							<p>Item Series</p>
						</td>
						<td style="border: 1px solid #dee2e6 !important">
							<p style="font-weight: 300">{{ frappe.db.get_value("Item", doc.item_code ,'item_series') }}</p>
						</td>
					</tr>
					{%- endif%}
					{% if frappe.db.get_value("Item", doc.item_code ,'tile_size')-%}
					<tr>
						<td style="border: 1px solid #dee2e6 !important" style="width: 30%;">
							<p>Tile Size</p>
						</td>
						<td style="border: 1px solid #dee2e6 !important">
							<p style="font-weight: 300">{{ frappe.db.get_value("Item", doc.item_code ,'tile_size') }} mm</p>
						</td>
					</tr>
					{%- endif %}
					{% if frappe.db.get_value("Item", doc.item_code ,'tile_body_composition') -%}
					<tr>
						<td style="border: 1px solid #dee2e6 !important" style="width: 36%;">
							<p>Tile Body Composition</p>
						</td>
						<td style="border: 1px solid #dee2e6 !important">
							<p style="font-weight: 300">{{ frappe.db.get_value("Item", doc.item_code ,'tile_body_composition') }}</p>
						</td>
					</tr>
					{%- endif %}
					{% if frappe.db.get_value("Item", doc.item_code ,'tile_use')  -%}
					<tr>
						<td style="border: 1px solid #dee2e6 !important" style="width: 30%;">
							<p>Tile Use</p>
						</td>
						<td style="border: 1px solid #dee2e6 !important">
							<p style="font-weight: 300">{{ frappe.db.get_value("Item", doc.item_code ,'tile_use')  }}</p>
						</td>
					</tr>
					{%- endif %}

				</table>
				{% if  frappe.db.get_value("Item Group",doc.item_group,'catalogue') %}
				{% set url = frappe.db.get_value("Item Group",doc.item_group,'catalogue') %}
				<a class="tile-button card-button fill ml-0 mt-4 pt-4" href="/catalogue-form">
					<span class="tile-point-parent"><span class="tile-point"></span><span
							class="tile-point"></span><span class="tile-point"></span><span
							class="tile-point"></span><span class="tile-point"></span><span
							class="tile-point"></span><span class="tile-point"></span><span
							class="tile-point"></span><span class="tile-point"></span><span
							class="tile-point"></span><span class="tile-point"></span><span
							class="tile-point"></span><span class="tile-point"></span><span
							class="tile-point"></span><span class="tile-point"></span><span
							class="tile-point"></span><span class="tile-point"></span><span
							class="tile-point"></span><span class="tile-point"></span><span
							class="tile-point"></span></span>
					<h6 class="label" style="text-transform: capitalize;">Download Catalogue</h6>
				</a>

				<script>
					window.onload = function () {
						localStorage.setItem("url", "{{ url }}");
						
					}
				</script>
				{% endif %}
			</div>

		</div>