<header class="millenniumNav noDropdownTransition">

    <ul class="navRoot">
        <li class="navSection logo mt-2 ml-2">
            <div class="millennium-logo" style="margin: 4px 11px;">
                <a href="/"><img src="/files/millennium-icon.png" class="millennium-logo" alt="Millennium Tiles"
                        title="FinByz Tech Pvt Ltd"></a>
            </div>
        </li>
        <li class="navSection primary p-2">
            <a class="rootLink" href="/"> Home </a>
            <a class="rootLink" href="/about">
                About
            </a>
            <a class="rootLink hasDropdown" href="/all-products" data-dropdown="product">
                Products
            </a>
            <a class="rootLink" href="">
                E-Catalogue
            </a>
            <a class="rootLink" href="/event">
                Event
            </a>
            <a class="rootLink" href="/inquiry">
                Inquiry
            </a>
            <a class="rootLink" href="/contact">
                Contact
            </a>
        </li>
        <li class="navSection mobile">
            <div id="content">
                <div id="navsidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="nav-wrapper">
                <nav id="navsidebar" class="vh-100">
                    <!-- navsidebar Links -->
                    <div class="d-flex justify-content-center p-2">
                        <img src="/files/millennium-mobile.png" alt="logo" title="Logo" height="80">
                    </div>
                    <ul class="list-unstyled components">
                        <li class="p-3">
                            <!-- <img src="/files/nav-home.svg" title="Home" alt="Home" class="nav-service-icon"> -->
                            <a href="/">Home</a>
                        </li>
                        <li class="p-3">
                            <a href="/about" class="go-tosub-menu" data-toggle="collapse" aria-expanded="false">
                                <!-- <img class="nav-service-icon" src="/files/nav-about-company.svg" alt="About" title="About Company"> -->
                                About
                            </a>
                        </li>

                        <li class="p-3">
                            <a href="/all-products" data-ls="products" data-toggle="collapse" aria-expanded="false"
                                class="go-tosub-menu">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow-nav.svg"
                                    alt="Left Arrow" title="Web App Development">
                                <!-- <img class="nav-service-icon" src="/files/nav-services.svg" alt="Services" title="Services"> -->
                                Products
                            </a>
                            <img data-ls="products" src="/files/right-arrow-nav.svg"
                                class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">
                            <ul class="collapse list-unstyled ml-5" id='products'>
                                <li class="p-3">
                                    <!-- <img class="nav-service-icon" src="/files/ser-erp-implementation.svg" alt="ERP Implementation" title="ERP Implementation">  -->
                                    <a href="" class="link-underline p-1">Porcelain Tiles</a>
                                </li>
                                <li class="p-3">
                                    <!-- <img class="nav-service-icon" src="/files/ser-software-development.svg" alt="Software Development" title="Software Development"> -->
                                    <a href="" class="link-underline p-1"> Wall Tiles</a>
                                </li>
                                <li class="p-3">
                                    <!-- <img class="nav-service-icon" src="/files/ser-website-development.svg" alt="Website Development" title="Website Development"> -->
                                    <a href="" class="link-underline p-1">Floor Tiles</a>
                                </li>
                                <li class="p-3">
                                    <!-- <img class="nav-service-icon" src="/files/ser-it-consulting.svg" alt="IT Consulting" title="IT Consulting"> -->
                                    <a href="" class="link-underline p-1">Double Charges Tiles</a>
                                </li>
                                <li class="p-3">
                                    <!-- <img class="nav-service-icon" src="/files/ser-crm-system.svg" alt="CRM Software" title="CRM Software"> -->
                                    <a class="link-underline p-1" href="">Full Body Vitrified Tiles</a>
                                </li>
                                <li class="p-3">
                                    <!-- <img class="nav-service-icon" src="/files/ser-data-analytics.svg" alt="Data Analytics" title="Data Analytics"> -->
                                    <a class="link-underline p-1" href="">Parking Tiles</a>
                                </li>
                            </ul>
                        </li>
                        <li class="p-3">
                            <!-- <img class="nav-service-icon" src="/files/nav-tech-update.svg" alt="Blog" title="Blog"> -->
                            <a href="">E-Catalogue</a>
                        </li>
                        <li class="p-3">
                            <!-- <img class="nav-service-icon" src="/files/nav-Gallery.svg" alt="Gallery" title="Gallery"> -->
                            <a href="/event">Event</a>
                        </li>
                        <li class="p-3">
                            <!-- <img class="nav-service-icon" src="/files/nav-Gallery.svg" alt="Gallery" title="Gallery"> -->
                            <a href="/inquiry">Inquiry</a>
                        </li>
                        <li class="p-3">
                            <!-- <img class="nav-service-icon" src="/files/nav-Gallery.svg" alt="Gallery" title="Gallery"> -->
                            <a href="/contact">Contact</a>
                        </li>
                        {% if not hide_login %}
                        <li class="btn-login-area">
                            <!-- <img class="nav-service-icon" src="/files/nav-login.svg" alt="Login" title="Login"> -->
                            <a href="/login">{{ _("Login") }}</a>
                        </li>
                        {% endif %}
                        <li>
                            <a data-ls="loginsubmenu" class="go-tosub-menu" data-toggle="collapse"
                                aria-expanded="false">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow.svg"
                                    alt="Left Arrow" title="About Company">
                                <span class="user-image-wrapper"></span>
                                <span class="full-name"></span>
                                <b class="caret"></b>
                            </a>
                            <!-- <img data-ls="loginsubmenu" src="/files/right-arrow.svg" class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15"> -->
                            <ul class="collapse list-unstyled ml-5" id='loginsubmenu'>
                                <li>
                                    <a class="" href="/me" rel="nofollow">
                                        <img class="nav-service-icon" src="/files/nav-my-account.svg" alt="About FinByz"
                                            title="About FinByz">
                                        <h6 class="link-underline mt-1">{{ _('My Account') }}
                                        </h6>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkContainer item-about" href="/?cmd=web_logout" rel="nofollow">
                                        <img class="nav-service-icon" src="/files/nav-logout.svg" alt="About FinByz"
                                            title="About FinByz">
                                        <h6 class="link-underline mt-1">{{ _('Logout') }}
                                        </h6>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkContainer item-about" href="/desk" rel="nofollow">
                                        <img class="nav-service-icon" src="/files/nav-switch-to-desk.svg"
                                            alt="About FinByz" title="About FinByz">
                                        <h6 class="link-underline mt-1">{{ _('Switch To Desk') }}
                                        </h6>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </li>
        <li class="navSection secondary p-2">
            {% if not hide_login %}
            <a href="/login" class="rootLink btn-login-area">{{ _("Login") }}</a>
            {% endif %}
            <a href="#" class="rootLink hasDropdown" data-dropdown="millennium-login">
                <span class="user-image-wrapper"></span>
                <span class="full-name"></span>
                <b class="caret"></b>
            </a>
            <a href="#" class="d-none"></a>
        </li>
    </ul>

    <div class="dropdownRoot">
        <div class="dropdownBackground" style="transform: translateX(452px) scaleX(0.707692) scaleY(1.1075);">
            <div class="alternateBackground" style="transform: translateY(255.53px);"></div>
        </div>
        <div class="dropdownArrow" style="transform: translateX(636px) rotate(45deg);"></div>
        <div class="dropdownContainer" style="transform: translateX(452px); width: 400px; height: 443px;">
            <div class="dropdownSection left" data-dropdown="product">
                <div class="dropdownContent dropdownContent-product">
                    <div class="linkGroup ">
                        <div class="item-group-tiles">
                            <div class="group-tile group-tile-floor ">
                                <div class="floor-tiles-list">
                                    <h2 class="pt-4 blue-text">Floor Tiles</h2>
                                    <ul class="floor-tiles-link">
                                        <div class="c1">
                                            <a class="tabanchor" href="#c1">
                                                <li class="py-2">Double Charge Tiles</li>
                                            </a>
                                        </div>
                                        <div class="c2">
                                            <a class="tabanchor" href="#c2">
                                                <li class="py-2">GVT/PGVT Tiles</li>
                                            </a>
                                        </div>
                                        <div class="c3">
                                            <a class="tabanchor" href="#c3">
                                                <li class="py-2">Nano - Soluble Salt Tiles</li>
                                            </a>
                                        </div>
                                        <div class="c4">
                                            <a class="tabanchor" href="c4">
                                                <li class="py-2">Porcelain Tiles</li>
                                            </a>
                                        </div>
                                    </ul>
                                </div>
                                <a href="floor-tiles" class="floor-tile-img ">
                                    <img class="floor-tiles-1" id="c1" src="/files/floor-tiles.jpg" alt="">
                                    <img class="floor-tiles-2" id="c2" src="/files/floor-tiles-2.jpg" alt="">
                                    <img class="floor-tiles-3" id="c3" src="/files/floor-tiles-3.jpg" alt="">
                                </a>
                            </div>


                            <div class="group-tile group-tile-single">

                                <a href="floor-tiles-img" class="">
                                    <img class="" src="/files/wall-tiles.jpg" alt="">
                                </a>
                                <h2 class="blue-text pt-3">Wall Tiles</h2>

                            </div>
                            <div class="group-tile">

                            </div>
                        </div>
                    </div>
                    <ul class="linkGroup linkList prodsubGroup mt-2">
                        <li class="text-center">
                            <a class="" href="">
                                <h6 class="title-underline item-group-link-nav link-underline ">View All</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if not hide_login %}
            <div class="dropdownSection left logged-in" data-dropdown="millennium-login">
                <div class="dropdownContent">
                    <ul class="linkGroup linkList loginGroup">
                        <li>
                            <a class="linkContainer item-about" href="/me" rel="nofollow">
                                <img class="nav-service-icon" src="/files/nav-my-account.svg" alt="My account"
                                    title="My account">
                                <h6 class="link-underline mt-1">{{ _('My Account') }}
                                </h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer item-about" href="/?cmd=web_logout" rel="nofollow">
                                <img class="nav-service-icon" src="/files/nav-logout.svg" alt="Logout" title="Logout">
                                <h6 class="link-underline mt-1">{{ _('Logout') }}
                                </h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer item-about" href="/desk" rel="nofollow">
                                <img class="nav-service-icon" src="/files/nav-switch-to-desk.svg" alt="Desk"
                                    title="Desk">
                                <h6 class="link-underline mt-1">{{ _('Switch To Desk') }}
                                </h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</header>