<header class="millenniumNav noDropdownTransition">

    <ul class="navRoot">
        <li class="navSection logo mt-2 ml-2">
            <div class="millennium-logo" style="margin: 4px 11px;">
                <a href="/"><img src="/files/millennium-icon.png" width="155" class="millennium-logo" alt="Millennium Tiles"
                        title="Millennium Tiles" ></a>
            </div>
        </li>
        <li class="navSection primary p-2">
            <a class="rootLink" href="/"> Home </a>
            <a class="rootLink" href="/about">
                About
            </a>
            <a class="rootLink hasDropdown" data-dropdown="product">
                Products
            </a>
            <a class="rootLink" href="/catalogue">
                E-Catalogue
            </a>
            <a class="rootLink" href="/event">
                Event
            </a>
            <a class="rootLink" href="/inquiry">
                Inquiry
            </a>
            <a class="rootLink" href="/contact">
                Contact
            </a>
        </li>
        <li class="navSection mobile">
            <div id="content">
                <div id="navsidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="nav-wrapper">
                <nav id="navsidebar" class="vh-100">
                    <!-- navsidebar Links -->
                    <div class="d-flex justify-content-center p-2">
                        <img src="/files/millennium-mobile.png" alt="logo" title="Logo" height="80">
                    </div>
                    <ul class="list-unstyled components">
                        <li class="p-3">
                            <!-- <img src="/files/nav-home.svg" title="Home" alt="Home" class="nav-service-icon"> -->
                            <a href="/">Home</a>
                        </li>
                        <li class="p-3">
                            <a href="/about"   aria-expanded="false">
                                About
                            </a>
                        </li>

                        <li class="p-3">
                            <a href="/all-products" data-ls="products" data-toggle="collapse" aria-expanded="false"
                                class="go-tosub-menu">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow-nav.svg"
                                    alt="Left Arrow" title="Web App Development" height="15" width="15">
                                <!-- <img class="nav-service-icon" src="/files/nav-services.svg" alt="Services" title="Services"> -->
                                Products
                            </a>
                            <img data-ls="products" src="/files/right-arrow-nav.svg"
                                class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">
                            <ul class="collapse list-unstyled ml-5" id='products'>
                                <li class="p-3">
                                    <!-- <img class="nav-service-icon" src="/files/ser-erp-implementation.svg" alt="ERP Implementation" title="ERP Implementation">  -->
                                    <a href='/all-products?field_filters=%7B"tile_use"%3A%5B"Floor"%5D%7D'
                                        class="link-underline p-1">Floor Tiles</a>
                                </li>
                                <li class="p-3 pl-4">
                                    <!-- <img class="nav-service-icon" src="/files/ser-erp-implementation.svg" alt="ERP Implementation" title="ERP Implementation">  -->
                                    <a href='/all-products?field_filters=%7B"tile_use"%3A%5B"Floor"%5D%2C"tile_type"%3A%5B"Double+Charge"%5D%7D'
                                        class="link-underline p-1">Double Charge Tiles</a>
                                </li>
                                <li class="p-3 pl-4">
                                    <!-- <img class="nav-service-icon" src="/files/ser-software-development.svg" alt="Software Development" title="Software Development"> -->
                                    <a href='/all-products?field_filters=%7B"tile_use"%3A%5B"Floor"%5D%2C"tile_type"%3A%5B"%28P%29GVT"%5D%7D'
                                        class="link-underline p-1"> GVT/PGVT Tiles</a>
                                </li>
                                <li class="p-3 pl-4">
                                    <!-- <img class="nav-service-icon" src="/files/ser-website-development.svg" alt="Website Development" title="Website Development"> -->
                                    <a href='/all-products?field_filters=%7B"tile_use"%3A%5B"Floor"%5D%2C"tile_type"%3A%5B"Nano"%5D%7D'
                                        class="link-underline p-1">Nano - Soluble Salt Tiles</a>
                                </li>
                                <li class="p-3 pl-4">
                                    <!-- <img class="nav-service-icon" src="/files/ser-it-consulting.svg" alt="IT Consulting" title="IT Consulting"> -->
                                    <a href='/all-products?field_filters=%7B"tile_use"%3A%5B"Floor"%5D%2C"tile_type"%3A%5B"Porcelain"%5D%7D'
                                        class="link-underline p-1">Porcelain Tiles</a>
                                </li>
                                <li class="p-3">
                                    <!-- product?field_filters=%7B"tile_type"%3A%5B"Wall"%5D%7D -->
                                    <!-- <img class="nav-service-icon" src="/files/ser-crm-system.svg" alt="CRM Software" title="CRM Software"> -->
                                    <a class="link-underline p-1"
                                        href='/all-products?field_filters=%7B%22tile_type%22%3A%5B%22Wall%22%5D%7D'>Wall
                                        Tiles</a>
                                </li>
                                <li class="p-3">
                                    <!-- <img class="nav-service-icon" src="/files/ser-data-analytics.svg" alt="Data Analytics" title="Data Analytics"> -->
                                    <a class="link-underline p-1"
                                        href='/all-products?field_filters=%7B"tile_type"%3A%5B"Parking"%5D%7D'>Parking
                                        Tiles</a>
                                </li>
                                <li class="p-3">
                                    <!-- <img class="nav-service-icon" src="/files/ser-data-analytics.svg" alt="Data Analytics" title="Data Analytics"> -->
                                    <a class="link-underline p-1"   
                                        href='/all-products'>View All</a>
                                </li>
                            </ul>
                        </li>
                        <li class="p-3">
                            <!-- <img class="nav-service-icon" src="/files/nav-tech-update.svg" alt="Blog" title="Blog"> -->
                            <a href="">E-Catalogue</a>
                        </li>
                        <li class="p-3">
                            <!-- <img class="nav-service-icon" src="/files/nav-Gallery.svg" alt="Gallery" title="Gallery"> -->
                            <a href="/event">Event</a>
                        </li>
                        <li class="p-3">
                            <!-- <img class="nav-service-icon" src="/files/nav-Gallery.svg" alt="Gallery" title="Gallery"> -->
                            <a href="/inquiry">Inquiry</a>
                        </li>
                        <li class="p-3">
                            <!-- <img class="nav-service-icon" src="/files/nav-Gallery.svg" alt="Gallery" title="Gallery"> -->
                            <a href="/contact">Contact</a>
                        </li>
                        {% if not hide_login %}
                        <li class="btn-login-area">
                            <!-- <img class="nav-service-icon" src="/files/nav-login.svg" alt="Login" title="Login"> -->
                            <a href="/login">{{ _("Login") }}</a>
                        </li>
                        {% endif %}
                        <li>
                            <a data-ls="loginsubmenu" class="go-tosub-menu" data-toggle="collapse"
                                aria-expanded="false">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow-nav.svg"
                                    alt="Left Arrow" title="About Company">
                                <span class="user-image-wrapper"></span>
                                <span class="full-name"></span>
                                <b class="caret"></b>
                            </a>
                            <!-- <img data-ls="loginsubmenu" src="/files/right-arrow.svg" class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15"> -->
                            <ul class="collapse list-unstyled ml-5" id='loginsubmenu'>
                                <li>
                                    <a class="" href="/me" rel="nofollow">
                                        <img class="nav-service-icon" src="/files/nav-my-account.svg" alt="About FinByz"
                                            title="About FinByz">
                                        <h6 class="link-underline mt-1">{{ _('My Account') }}
                                        </h6>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkContainer item-about" href="/?cmd=web_logout" rel="nofollow">
                                        <img class="nav-service-icon" src="/files/nav-logout.svg" alt="About FinByz"
                                            title="About FinByz">
                                        <h6 class="link-underline mt-1">{{ _('Logout') }}
                                        </h6>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkContainer item-about" href="/desk" rel="nofollow">
                                        <img class="nav-service-icon" src="/files/nav-switch-to-desk.svg"
                                            alt="About FinByz" title="About FinByz">
                                        <h6 class="link-underline mt-1">{{ _('Switch To Desk') }}
                                        </h6>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </li>
        <li class="navSection secondary p-2">
            {% if not hide_login %}
            <a href="/login" class="rootLink btn-login-area {% if frappe.session.user == 'Guest' %}block_login {% endif %}">{{ _("Login") }}</a>
            {% endif %}
            {% if frappe.session.user != 'Guest' %}
            <a href="#" class="rootLink hasDropdown" data-dropdown="millennium-login">
                <span class="user-image-wrapper"></span>
                <span class="full-name"></span>
                <b class="caret"></b>
            </a>
            {% endif %}
            <a href="#" class="d-none"></a>
        </li>
    </ul>

    <div class="dropdownRoot">
        <div class="dropdownBackground">
            <div class="alternateBackground"></div>
        </div>
        <div class="dropdownArrow"></div>
        <div class="dropdownContainer">
            <div class="dropdownSection left" data-dropdown="product">
                <div class="dropdownContent dropdownContent-product container">
                    <div class="linkGroup pl-5">
                        <div class="item-group-tiles row pt-3 pl-4">
                            <div class="group-tile group-tile-floor col-xl-8 row pt-2  d-flex flex-row">
                                <div class="floor-tiles-list col-5">
                                    <a href='/all-products?field_filters=%7B"tile_use"%3A%5B"Floor"%5D%7D' class="tile-use-link">
                                        <h3 class="pt-3 blue-text">Floor Tiles</h3>
                                    </a>
                                    <div class='line-circle-container '>
                                        <div class='loader  '>
                                            <div class='loader--dot'></div>
                                            <div class='loader--dot'></div>
                                            <div class='loader--dot'></div>
                                            <div class='loader--dot'></div>
                                            <div class='loader--dot'></div>
                                            <div class='loader--dot'></div>
                                            <div class='loader--dot'></div>
                                            <div class='loader--dot'></div>
                                            <div class='loader--dot'></div>
                                        </div>
                                    </div>
                                    <ul class="floor-tiles-link pb-5 pt-4">
                                        <div class="c1">
                                            <div class="tabanchor" href="#c1">
                                                <a class="tile-type-link" 
                                                    href='/all-products?field_filters=%7B"tile_use"%3A%5B"Floor"%5D%2C"tile_type"%3A%5B"Double+Charge"%5D%7D'>
                                                    <li class="pt-2">Double Charge Tiles</li>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="c2">
                                            <div class="tabanchor" href="#c2">
                                                <a class="tile-type-link"
                                                    href='/all-products?field_filters=%7B"tile_use"%3A%5B"Floor"%5D%2C"tile_type"%3A%5B"%28P%29GVT"%5D%7D'>
                                                    <li class="pt-2">GVT/PGVT Tiles</li>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="c3">
                                            <div class="tabanchor" href="#c3">
                                                <a class="tile-type-link"
                                                    href='/all-products?field_filters=%7B"tile_use"%3A%5B"Floor"%5D%2C"tile_type"%3A%5B"Nano"%5D%7D'>
                                                    <li class="pt-2">Nano - Soluble Salt Tiles</li>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="c4">
                                            <div class="tabanchor" href="#c4">
                                                <a class="tile-type-link"
                                                    href='/all-products?field_filters=%7B"tile_use"%3A%5B"Floor"%5D%2C"tile_type"%3A%5B"Porcelain"%5D%7D'>
                                                    <li class="pt-2">Porcelain Tiles</li>
                                                </a>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                                <a href='/all-products?field_filters=%7B"tile_use"%3A%5B"Floor"%5D%2C"tile_type"%3A%5B"Double+Charge"%5D%7D'
                                    class="floor-tile-img col-lg-7">
                                    <div class="nav-background h-100 w-75"></div>
                                    <img class="flex-inner floor-tiles-1 rounded active" width="309" id="c1" src="/files/floor-tiles.jpg" alt="">
                                    <img class="flex-inner floor-tiles-2 rounded"  width="309" id="c2" src="/files/floor-tiles-2.jpg"
                                        alt="">
                                    <img class="flex-inner floor-tiles-3 rounded" width="309" id="c3" src="/files/floor-tiles-3.jpg"
                                        alt="">
                                    <img class="flex-inner floor-tiles-4 rounded" width="309" id="c4" src="/files/floor-tiles-4.jpg"
                                        alt="">

                                </a>
                            </div>


                            <div class="group-tile group-tile-single col-xl-4">
                                <div class="row pt-5">
                                    <a href='/all-products?field_filters=%7B%22tile_type%22%3A%5B%22Wall%22%5D%7D'
                                        class="col-lg-4 w-100 h-100">
                                        <img class="rounded w-100 h-100 " src="/files/wall-tiles.jpg" alt="" width="170" height='160'>
                                    </a> 
                                    <div class="col-lg-8">
                                        <a class="tile-use-link"
                                            href='/all-products?field_filters=%7B%22tile_type%22%3A%5B%22Wall%22%5D%7D'>
                                            <h3 class="blue-text pro-menu-title">Wall Tiles</h3>
                                        </a>
                                        <div class="nav-pro-description-side">elegant and robust designs for your wall
                                            tiling
                                            needs.</div>
                                    </div>
                                </div>
                                <hr>
                                <!-- <div class="row pb-4" >
                                        <a href="floor-tiles-img" class="col-6 w-100 h-100">
                                            <img class="rounded w-100 h-100 " src="/files/parking-tiles038120.jpg" alt="">
                                        </a>
                                        <h3 class="blue-text pt-4 col-6">Parking Tiles</h3>
                                    </div> -->
                                <div class="row">
                                    <a href='/all-products?field_filters=%7B%22tile_type%22%3A%5B%22Parking%22%5D%7D'
                                        class="col-lg-4 w-100 h-100">
                                        <img class="rounded w-100 h-100 " src="/files/parking-tiles038120.jpg" alt="" width="170" height='160'>
                                    </a>
                                    <div class="col-lg-8">
                                        <a class="tile-use-link" href='/all-products?field_filters=%7B%22tile_type%22%3A%5B%22Parking%22%5D%7D'>
                                            <h3 class="blue-text pro-menu-title">Parking Tiles</h3>
                                        </a>
                                        <div class="nav-pro-description-side">
                                            The complete solution to beautify your outdoor spaces.
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                    <ul class=" prodsubGroup mt-2 pt-0">
                        <li class="text-center">

                            <a class="tile-button card-button fill mx-auto mt-4 px-4 pt-4 mb-3" href="/all-products">
                                <span class="tile-point-parent"><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span></span>
                                <h6 class="label text-capitalize">View All</h6>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
            {% if not hide_login %}
            <div class="dropdownSection left logged-in" data-dropdown="millennium-login">
                <div class="dropdownContent">
                    <ul class="linkGroup linkList loginGroup">
                        <li>
                            <a class="linkContainer item-about" href="/me" rel="nofollow">
                                <img class="nav-service-icon" src="/files/nav-my-account.svg" alt="My account"
                                    title="My account">
                                <h6 class="link-underline mt-1">{{ _('My Account') }}
                                </h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer item-about" href="/?cmd=web_logout" rel="nofollow">
                                <img class="nav-service-icon" src="/files/nav-logout.svg" alt="Logout" title="Logout">
                                <h6 class="link-underline mt-1">{{ _('Logout') }}
                                </h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer item-about" href="/desk" rel="nofollow">
                                <img class="nav-service-icon" src="/files/nav-switch-to-desk.svg" alt="Desk"
                                    title="Desk">
                                <h6 class="link-underline mt-1">{{ _('Switch To Desk') }}
                                </h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</header>