{% if sub_title %}
<h4 class="text-muted">{{ sub_title }}</h4>
{% endif %}

{% if not result -%}
<div class="text-muted" style="min-height: 300px;">
	{{ no_result_message or _("Nothing to show") }}
</div>
{% else %}

<div class="website-list" data-doctype="{{ doctype }}" data-txt="{{ txt or '[notxt]' | e }}">
	<!-- {% if not hide_filters -%}
			{% include "templates/includes/list/filters.html" %}
		{%- endif %} -->
	{% if result_heading_template %}{% include result_heading_template %}{% endif %}

	<div class="result">
		<div class="container">
			{% if doctype=="Events" %}
			<div class="row">
				<div class="event-parent">
					<div class="content">
						<div class="grid">
							<div class="row">
								{% for item in result %}
								{{ item }}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% else %}
				{% for item in result %}
				{{ item }}
				{% endfor %}	
		{% endif %}
		</div>
	</div>
	
	


	<div class="more-block {% if not show_more -%} hidden {%- endif %} container py-3">
		<a class="tile-button fill ml-0 mt-4 pt-4">
			<span class="tile-point-parent"><span class="tile-point"></span><span class="tile-point"></span><span
					class="tile-point"></span><span class="tile-point"></span><span class="tile-point"></span><span
					class="tile-point"></span><span class="tile-point"></span>
				<span class="tile-point"></span><span class="tile-point"></span><span class="tile-point"></span><span
					class="tile-point"></span><span class="tile-point"></span><span class="tile-point"></span><span
					class="tile-point"></span><span class="tile-point"></span>
				<span class="tile-point"></span><span class="tile-point"></span><span class="tile-point"></span><span
					class="tile-point"></span><span class="tile-point"></span></span>
			<h5 class="label text-capitalize">{{ _("More") }}</h5>
		</a>
	</div>

</div>

{%- endif %}