<div class="footer">
    <div class="container pl-4">
        <div class="row ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="millennium-logo">
                    <img src="/files/millennium-icon.svg" alt="">
                </div>
            </div>
        </div>
        <hr class="footer-line">
        <div class="row ">
            <!-- footer-about -->
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">
                        <h2>Our Products</h2>
                    </div>
                    <ul class="list-unstyled">
                        <li><a class="sub-text" href="#">Porcelain Tiles</a></li>
                        <li><a class="sub-text" href="#">Digital Wall Tiles</a></li>
                        <li><a class="sub-text" href="#">Digital Floor Tiles</a></li>
                        <li><a class="sub-text" href="#">Double Charge Tiles</a></li>
                        <li><a class="sub-text" href="#">Full Body Vitrified Tiles</a></li>
                        <li><a class="sub-text" href="#">Parking Tiles</a></li>
                        <li><a class="sub-text" href="#">Digital Floor Tiles</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">
                        <h2>Company</h2>
                    </div>
                    <ul class="list-unstyled">
                        <li><a class="sub-text" href="#">About</a></li>
                        <li><a class="sub-text" href="#">Support</a></li>
                        <li><a class="sub-text" href="#">Legal &amp; Privacy</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-about -->
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">
                        <h2>Quick Links</h2>
                    </div>
                    <ul class="list-unstyled">
                        <li><a class="sub-text" href="#">News</a></li>
                        <li><a class="sub-text" href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">
                        <h2>Social</h2>
                    </div>
                    <ul class="list-unstyled">
                        <li><a class="sub-text" href="#">Twitter</a></li>
                        <li><a class="sub-text" href="#">Google +</a></li>
                        <li><a class="sub-text" href="#">Linked In</a></li>
                        <li><a class="sub-text" href="#">Facebook</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- footer-links -->

            <!-- /.footer-links -->
            <!-- tiny-footer -->
        </div>
        <div class="row ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                <div class="tiny-footer">
                </div>
            </div>
            <!-- /. tiny-footer -->
        </div>
    </div>
</div>