
{% extends "templates/web.html" %}


{% block page_sidebar %}
{% include "templates/pages/web_sidebar.html" %}
{% endblock %}






{% if doctype != "Events" %}

{% block header_actions %}
{% if create_new %}
<div class="pull-right">
    <a href="{{ create_new | abs_url }}" class="btn btn-primary btn-sm">
        {{ _("New") }}
    </a>
</div>
{% endif %}
{% endblock %}
{% endif %}

{% block page_content %}
<article itemscope itemtype="http://schema.org/AboutPage" class="about-content">
    <div itemprop="description" class="container">
        {% if introduction %}<p>{{ introduction }}</p>{% endif %}
        {% if doctype == "Events" %}{% include "templates/includes/events/events.html" %}{% endif %}
        {% include "templates/includes/list/list.html" %}
        {% if list_footer %}{{ list_footer }}{% endif %}
    </div>
</article>
{% endblock %}

{% block script %}
<script> {% include "templates/includes/list/list.js" %} </script>
{% endblock %}