



        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-left pb-20">
                        <div class="title-underline">
                            <h2 class="blue-text">Events</h2>
                            <div class='line-circle-container '>
                                <div class='loader'>
                                    <div class='loader--dot'></div>
                                    <div class='loader--dot'></div>
                                    <div class='loader--dot'></div>
                                    <div class='loader--dot'></div>
                                    <div class='loader--dot'></div>
                                    <div class='loader--dot'></div>
                                    <div class='loader--dot'></div>
                                    <div class='loader--dot'></div>
                                    <div class='loader--dot'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12 justify-content-center mb-10 event-category-main">
                    <div class="mw-button-grid row">
                        <button type="button" class="  event-button filter-button filter parent-category "
                            data-rel="all">
                            <a class="tile-button card-button catalogue-btn fill ml-0 mt-4 pt-4">
                                <span class="tile-point-parent"><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span></span>
                                <h6 class="label text-capitalize">All</h6>
                            </a>
                        </button>
                        {% for category in event_category %}
                        {% set title = frappe.db.get_value("Event Category",{ 'name':category.name },'title') %}
                        <button type="button" class="  event-button filter-button filter parent-category "
                            data-rel="{{ category.name }}">
                            <a class="tile-button card-button catalogue-btn fill ml-0 mt-4 pt-4">
                                <span class="tile-point-parent"><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span><span class="tile-point"></span><span
                                        class="tile-point"></span></span>
                                <h6 class="label text-capitalize">{{ title }}</h6>
                            </a>
                        </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>



