<div class="col-md-4  p-4 category-filter all {{doc.event_category}}" >

    <!-- <button class="center mw-overlay"><p class="overlay">{{ event_title }}</p></button>
	<div class="event-image-wrapper has-animation has-animation-x animation-ltr scroll" style="width: 100%;  height: 100%;">
		<img class="event-image m-1" style="height: 100%; width:100%;"  src="{{ image }}" alt="no-image">
	
    </div> -->
        <figure class="has-animation has-animation-x animation-ltr scroll h-100 effect-bubba">
            <img src="{{ image }}" height="auto" width="auto" alt="Sign India Hyderabad-4"
                title="Sign India Hyderabad-4">
                <figcaption >
                    <h4 class="event-title bold">{{ event_title }}</h4>
                </figcaption>
        </figure>
    


</div>


<!-- this is a sample default list template -->